# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.dmypy.json
dmypy.json
.pytest_cache/
htmlcov/
*.egg-info/
.installed.cfg
*.egg

# PyCharm/IDE
.idea/
.vscode/
*.iml

# OS
Thumbs.db
.DS_Storec